# Logs
logs
*.log
npm-debug.log*

# Compiled files
/public/build/css/**/*.css
/public/build/css/**/*.css.map

/public/build/js/**/*.js
/public/build/js/**/*.js.map

# Dependencies
/node_modules

# Everything else
.DS_Store
